@import play.mvc.Http.Request
@(channelProfile: ChannelProfile)(implicit request: Request)

@main("Hello") {
<section id="content">
    <div class="wrapper doc">
        <h1>Welcome to YT lytics</h1>

        <div class="search-results">
            <div class="video-item">
                <div><b>Title: </b>@channelProfile.getChannel().getTitle()</div>
                <div><b>Channel: </b> <a href="@channelProfile.getChannel().getChannelURL()">@channelProfile.getChannel().getTitle()</a></div>
                <p><b>Description: </b>@channelProfile.getChannel().getDescription()</p>
                <img src="@channelProfile.getChannel().getThumbnail()" alt="@channelProfile.getChannel().getTitle()">
                @for(video <- channelProfile.getLatestVideos()) {
                    <div><b>Title: </b> <a href="@video.getVideoURL()">@video.getTitle()</a></div>
                    <div><b>Channel: </b> <a href="@channelProfile.getChannel().getChannelURL()">@channelProfile.getChannel().getTitle()</a></div>
                    <p><b>Description: </b>@video.getDescription()</p>
                    <img src="@video.getThumbnail()" alt="@video.getTitle()">
                }
            </div>
        </div>

    </div>
</section>
}