@import play.mvc.Http.Request
@(videoResult: List[Video])(implicit request: Request)


@main("Hello") {
<section id="content">
    <div class="wrapper doc">
        <h1>Welcome to YT lytics</h1>

        @helper.form(action = routes.HomeController.search()) {
        @helper.CSRF.formField
        <input type="text" name="search_terms" value="" placeholder="Enter search terms">
        <input type="submit" value="Go!">
        }
        @if(videoResult.nonEmpty) {
            @videoResult.map { video =>
                <div><b>Title: </b> <a href="@video.getVideoURL()">@video.getTitle()</a></div>
                <div><b>Channel: </b> <a
                        href="">@video.getChannelId()</a></div>
                <p><b>Description: </b>@video.getDescription()</p>
                <img src="@video.getThumbnail()" alt="@video.getTitle()">
                <hr>
            }
        }

    </div>
</section>
}