@import play.mvc.Http.Request
@(searches: List[Search])(implicit request: Request)


@main("Hello") {
<section id="content">
    <div class="wrapper doc">
        <h1>Welcome to YT lytics</h1>

        @helper.form(action = routes.HomeController.index()) {
        @helper.CSRF.formField
        <input type="text" name="search_terms" value="" placeholder="Enter search terms">
        <input type="submit" value="Go!">
        }

        @if(searches.nonEmpty) {
            @searches.map { search =>
                <h1>Search Terms: @search.getSearchTerm()</h1>
                <div><a href="@routes.HomeController.moreStats(search.getSearchTerm())">More Stats</a></div>
                <div>Flesh-Kincaid Grade Level Avg.= @search.getAvgFleshKincaidGradeLevel()</div>
                <div>Flesch Reading Ease Score Avg.= @search.getAvgFleshReadingScore()</div>
                @search.getSearchResults().map { sr =>
                    <div><b>Title: </b> <a href="@sr.video.getVideoURL()">@sr.video.getTitle()</a></div>
                    <div>Flesh-Kincaid Grade Level = @sr.fleshKincaidGradeLevel</div>
                    <div>Flesch Reading Ease Score = @sr.fleshReadingScore</div>
                    <div><a href="@routes.HomeController.youtubePage(sr.video.getVideoId())">Tags</a></div>
                    <div><b>Channel: </b> <a href="@routes.HomeController.channelProfile(sr.channel.getChannelId())">@sr.channel.getTitle()</a></div>
                    <p><b>Description: </b>@sr.video.getDescription()</p>
                    <img src="@sr.video.getThumbnail()" alt="@sr.video.getTitle()">
                }
                <hr>
            }
        }

    </div>
</section>
}