@import play.mvc.Http.Request
@(youtubePage: YoutubePage)(implicit request: Request)

@main("Hello") {
<section id="content">
    <div class="wrapper doc">
        <h1>Welcome to YT lytics</h1>

        <div class="search-results">
            <div class="video-item">
                <div><b>Title: </b>@youtubePage.getVideo().getTitle()</div>
                <div><b>Channel: </b> <a href="@youtubePage.getChannel().getChannelURL()">@youtubePage.getChannel().getTitle()</a></div>
                <p><b>Description: </b>@youtubePage.getVideo().getDescription()</p>
                <img src="@youtubePage.getVideo().getThumbnail()" alt="@youtubePage.getVideo().getTitle()">
                <div>Tags:</div>
                @for(tag <- youtubePage.getVideo().getTags()) {
                    @helper.form(action = routes.HomeController.index()) {
                    @helper.CSRF.formField
                        <input type="hidden" name="search_terms" value="@tag">
                        <button type="submit" style="background:none; border:none; color:blue; cursor:pointer; text-decoration:underline; display:inline;">
                            <b>@tag</b>
                        </button>
                    }
                }
            </div>
        </div>

    </div>
</section>
}